* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
}

html {
  font-weight: 500;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("pexels-pixabay-259027.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  padding: 10px; /* Add padding for smaller screens */
}

.container {
  background-color: #cbdfbd;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  width: auto;
}

.glass {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
}

.sort-section {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: right;
  position: sticky;
  left: 0;
  z-index: 2; /* Ensure it stays above table content */

  padding: 10px;
}

#sort-options {
  color: #fefeea;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
  font-weight: bolder;
  font-size: 12px;
  padding: 8px;
  border-radius: 4px;
}

table {
  width: 100%;
}
tr table,
th,
td {
  border-collapse: collapse;
  padding: 1rem;
}

td {
  width: 36px;
  height: 36px;
  margin-right: 0.5rem;
  border-radius: 50%;
  vertical-align: middle;
}

thead th {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #fefeea;
}

tbody tr:nth-child(even) {
  background-color: #0000000b;
}

tbody tr:hover {
  background-color: #fff6;
}

main.table {
  max-width: 64rem; /* Limit max width */
  height: auto; /* Set height to auto */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* For Safari and older browsers */
  border-radius: 0.8rem;
  overflow: hidden;
  position: relative;
  padding-bottom: 60px;
}

.table-header {
  position: relative;
  width: 100%;
  height: auto; /* Set height to auto */
  background-color: #fff4;
  padding: 0.8rem 1rem;
}

.table-body {
  width: 100%; /* Make it responsive */
  max-height: 60vh; /* Adjust height as needed */
  overflow-y: auto; /* Enable vertical scrolling */
  background-color: rgba(255, 255, 255, 0);
  margin: 0.8rem auto;
  border-radius: 0.6rem;
  overflow-y: auto; /* Enable vertical scrolling */
}

.table-body::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5em;
}

.table-body::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: #0004;
  visibility: hidden;
}

.table-body:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

input {
  color: #fefeea;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
  font-weight: bolder;
  font-size: 12px;
}

input::placeholder {
  color: rgba(
    255,
    255,
    255,
    0.7
  ); /* Optional: white placeholder text with some transparency */
}

.btns {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1; /* Keeps the button on top but below the content */
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 8px;
}
.add-btn,
.calc-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px; /* Adjust spacing between icon and text */
  padding: 10px; /* Optional: Adjust button padding */
  border: none;
  cursor: pointer;
  margin-top: 16px;
  margin-bottom: 16px;
  width: auto; /* Adjust width to; fit content */
  height: 32px;
  color: white;
  border: none;
  border-radius: 4px;
  background-color: #fefeea;
}
.status-dropdown {
  border: none;
  cursor: pointer;
  width: auto; /* Adjust width to; fit content */
  height: 32px;
  border-radius: 4px;
}
.remove-btn {
  border: none;
  cursor: pointer;
  width: auto; /* Adjust width to; fit content */
  height: 32px;
  border-radius: 4px;
  background-color: #d62828;
}
.add-btn:hover,
.calc-btn:hover {
  background-color: #222;
}
.remove-btn:hover {
  background-color: #9a031e;
}
.btn-icon {
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  height: 32px;
  display: flex; /* Make the icon a flex container */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.add-btn-text,
.calc-btn-text {
  display: inline-block;
  text-align: center;
  font-size: 16px; /* Adjust font size as needed */
}

.result {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.2em;
  color: white;
}

/* Media Queries for Responsive Design */
@media (max-width: 600px) {
  body {
    padding: 20px; /* Add padding for small screens */
  }

  .container {
    padding: 10px; /* Adjust container padding */
    width: 100%; /* Full width on mobile */
  }

  table {
    font-size: 0.9em; /* Slightly smaller font size */
  }

  button {
    width: 100%; /* Make buttons full width */
    margin-top: 10px; /* Add margin for spacing */
  }

  .sort-section {
    text-align: center; /* Center the sort options on small screens */
  }
  .add-btn,
  .calc-btn {
    padding: 8px 12px; /* Reduce padding */
    font-size: 2px; /* Smaller font size */
  }

  .btn-icon {
    width: 20px; /* Adjust icon size if needed */
    height: 20px;
  }
}
